@import './font.css';

body {
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    font-family: Lalezar;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    cursor: pointer;
}